# Домашнее задание 3
### Линейная и логистическая регрессия

Оформление дз:
Присылайте выполненное на почту `mlphystech@gmail.com` файлы .pdf и .ipynb или ссылку на свой гитхаб.

**Дедлайн: 11 апреля 23:59**

*Зуева Надежда*

ФИВТ МФТИ

Это задание будет посвящено линейной и логистической регрессии.
Мы надеемся, что вы уже знаете, что такое `kaggle`, так как сегодня нам предстоит поработать с самым *классическим* датасетом машинного обучения, а именно $-$ с Титаником!


Цель соревнования $-$ предсказать, кто из пассажиров выживет, а кто, увы, нет.

https://www.kaggle.com/c/titanic

## Теоретические вопросы
### 2 балла (по 0.5 за каждый верный ответ)
1. Что такое линейные модели классификации и регрессии? В чем их основные свойства? Где хорошо работают?
2. Что такое регуляризация и как она используется? 
3. Что такое MSE? Приведите пример.
4. Что такое градиентный спуск? Опишите базовый алгоритм работы.

P.S. просьба не копипастить из Википедии. Это все легко вычисляется и будет караться :)

1. Модели вида y = wX + b, где y - предсказание модели; w - вектор весов; X - вектор признаков; b - коэффициент смещения. Проводится только одна прямая => почти не возможно достигнуть состояния когда все элементы выборки лежат на прямой. В задачах с небольшим разбросом значений (например все значения лежат в отрезке [0; 1] и нет выбросов)
2. Штраф модели за некоторый параметр, например большие веса. К ошибке добавляется некоторое значение, зависещее от регуляризуемого пареметра.
3. Средняя квадратичная ошибка. В линейной регрессии среднее расстояние от всех точек до проведённой прямойю
4. Метод оптимизации. Берётся производная функции в точки Х, затем в точке Х + dX. Если значение в первом случае производная меньше, чем во втором, то берётся производная функции в точки Х - dX, если и там больше, то Х - локальный минимум. Если во втором производная меньше, то та же операция повторяется относительно точки X + dX.

## Задание 1 (4 балла)
Скачайте файлы `train.csv` и `test.csv`.

Выведите первые 10 строк из `train.csv`

In [1]:
import pandas
from copy import deepcopy
import numpy as np
import pandas as pd

data = pandas.DataFrame.from_csv("train.csv")
test_data = pandas.DataFrame.from_csv("test.csv")

In [2]:
#выведите первые 10 строк из data
data.head(10)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

Как мы видим, не все данные *

полны*. Например, это видно в столбце `Age`. 
В качестве простейшего решения мы предлагаем заменить пропущенные значения на медианные (функция `numpy.median`)
Вы можете воспользоваться нашим методом или произвести собственный анализ и заменить значения более умным способом (profit: бонусные баллы).

In [3]:
# Replace all the missing ages in the data with the median age
df = deepcopy(data)
df["Age"] = df["Age"].fillna(df["Age"].median())

Теперь займемся **оцифровкой признаков**

Кстати, напомните, а зачем нам это нужно? :)

$*$ ваш ответ $*$
Модель не воспринимает ничего, кроме цифровых данных.

Какой параметр здесь бинарный? Оцифруйте его при помощи нулей и единиц.

In [4]:
df.loc[df["Sex"] == "male", "Sex"] = 0 #тут что-то должно быть
df.loc[df["Sex"] == "female", "Sex"] = 1 #тут что-то должно быть

Выведите описание нашего датасета после изменений с помощью функции `describe`.
Сколько процентов пассажиров выжило? Каков был средний возраст всех пассажиров?

In [5]:
print (df.describe())

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  891.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.361582    0.523008    0.381594   32.204208
std      0.486592    0.836071   13.019697    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   22.000000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   35.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

Продолжим заполнять пропуски. Рассмотрим графу пунктов отправления `Embarked` 

Там есть типы данных:

C = Cherbourg, Q = Queenstown, S = Southampton, а также `nan`

In [6]:
print (df["Embarked"].unique())

['S' 'C' 'Q' nan]

In [7]:
import collections
print(collections.Counter(df['Embarked']))

Counter({'S': 644, 'C': 168, 'Q': 77, nan: 2})

С учетом последней ячейки заполните пропущенные значения по своему усмотрению. Объясните свой выбор, затем оцифруйте признак `Embarked` 

Например, заменив все на {0,1,2} или {12,42,10}, как хотите :)

In [8]:
df["Embarked"] = df["Embarked"].fillna(3)
#тут ваш код c оцифровкой 
df.loc[df["Embarked"] == "S", "Embarked"] = 0
df.loc[df["Embarked"] == "C", "Embarked"] = 1
df.loc[df["Embarked"] == "Q", "Embarked"] = 2

In [9]:
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,0
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,1
3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,0
5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,0

Разобьем выборку на `X` и `y`, где для`y` будем строить предсказания

In [10]:
print(df.columns)

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [11]:
y = pd.Series(df['Survived'])

In [12]:
X = deepcopy(df)
del X["Survived"], X["Name"], X["Ticket"], X["Cabin"]

Каким образом можно отобрать фичи, которые будут влиять на наш скор? Тут нам помогут ваш жизненный опыт и ` Recursive Feature Elimination` из библиотеки `Sklearn`

In [13]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression, LinearRegression
model = LinearRegression()#тут можно подбирать параметры для повышения скора)
#тут ваш код
selector = RFE(model, 7, step=5)
selector.fit(X, y)

RFE(estimator=LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False),
  n_features_to_select=7, step=5, verbose=0)

Проверьте, похожи ли отобранные вами фичи на те, что представленны ниже?

In [14]:
features = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]

In [15]:
from  sklearn.cross_validation import KFold
kfold = KFold(df.shape[0], n_folds=3, random_state=1)

C:\Users\K123a\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

Выполним предсказания:

In [16]:
X = np.array(X)
y = np.array(y)
for train_index, test_index in kfold:
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]
    model.fit(X_train, y_train)
    print(model.score(X_test, y_test))
    
predicts = model.predict(X)
predicts[predicts > 0.5],predicts[predicts < 0.5] = 1,0

accuracy = np.count_nonzero(data["Survived"] == predicts)/data["Survived"].count()
print ('Скор для линейной регрессии:',accuracy)

0.332287303909
0.392437844754
0.399776026306
Скор для линейной регрессии: 0.79797979798

## Задание 2 (2 балла)
Теперь попробуем проделать то же самое для **логистической регрессии**

http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

In [17]:
#from sklearn.model_selection import GridSearchCV
model = LogisticRegression(n_jobs=-1)#тут можно подбирать параметры для повышения скора)

Вычислим оценку точности для всех кросс-валидационных фолдов: возвращаем массив баллов из 3-х фолдов

In [18]:
#тут ваш код
for train_index, test_index in kfold:
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]
    model.fit(X_train, y_train)
    print(model.score(X_test, y_test))
    
predicts = model.predict(X)
predicts[predicts > 0.5],predicts[predicts < 0.5] = 1,0

accuracy = np.count_nonzero(data["Survived"] == predicts)/data["Survived"].count()
print ('Скор для логистической регрессии:',accuracy)

0.781144781145
0.791245791246
0.794612794613
Скор для логистической регрессии: 0.802469135802

C:\Users\K123a\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:1228: UserWarning: 'n_jobs' > 1 does not have any effect when 'solver' is set to 'liblinear'. Got 'n_jobs' = -1.
  " = {}.".format(self.n_jobs))

###### Как бы вы объяснили прирост качества в логистической регрессии? 
Сможете побить наш бейзлайн? :)

## Задание 3 (1.5 балла)
Отправьте ваше решение в тестирующую систему и посмотрите, какое место вы займете

рассмотрим `test.csv`

In [19]:
df_test = pandas.read_csv("test.csv")
print(df_test.describe())

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [20]:
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

Надо вернуть оцифрованные данные к первоначальному виду:

In [21]:
df_test.loc[df_test["Sex"] == "male", "Sex"] = 0 
df_test.loc[df_test["Sex"] == "female", "Sex"] = 1 
df_test["Embarked"] = df_test["Embarked"].fillna(3)
#тут ваш код c оцифровкой 
df_test.loc[df_test["Embarked"] == "S", "Embarked"] = 0
df_test.loc[df_test["Embarked"] == "C", "Embarked"] = 1
df_test.loc[df_test["Embarked"] == "Q", "Embarked"] = 2

df_test["Age"] = df_test["Age"].fillna(df_test["Age"].median())
df_test["Fare"] = df_test["Fare"].fillna(df_test["Fare"].median())
id_ = df_test["PassengerId"]
del df_test["Name"], df_test["Ticket"], df_test["Cabin"], df_test["PassengerId"]

In [22]:
model = LogisticRegression(n_jobs=-1)
model.fit(X, y)#тут ваш код)

C:\Users\K123a\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:1228: UserWarning: 'n_jobs' > 1 does not have any effect when 'solver' is set to 'liblinear'. Got 'n_jobs' = -1.
  " = {}.".format(self.n_jobs))

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=-1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [23]:
#тут ваш код по возвращению оцифрованных параметров в первоначальный вид

df_test["Fare"] = df_test["Fare"].fillna(df_test["Fare"].median())


predicts = model.predict(df_test)#тут ваш код)

submission = pandas.DataFrame({
    "PassengerId": id_,
    "Survived": predicts
})

submission.to_csv("submission.csv", index=False) #вот это отправляется в каггл

Можете попробовать и дальше "поиграться" с параметрами, чтобы подняться в лидерборде. Например, попробовать подобрать параметры в регрессорах. 
Удачи!
    Напоминаем, что справку по любой функции (в том числе и по регрессорам) можно получить, если с наведенным курсором на функцию нажать `Tab`+`Shift`

In [24]:
train_data = pandas.DataFrame.from_csv("train.csv")
test_data = pandas.DataFrame.from_csv("test.csv")
data = [train_data, test_data]

In [25]:
import re
def appeal(name):
    r = re.search(" ([A-Za-z]+)\.", name)
    
    if r:
        return r.group(1)
    return ""

In [26]:
for d in data:
    d["FamilySize"] = d["SibSp"] + d["Parch"] + 1

    d["IsAlone"] = 0
    d.loc[d["FamilySize"] == 1, "IsAlone"] = 1
    
    d["Embarked"] = d["Embarked"].fillna("S")
    
    d["Fare"] = d["Fare"].fillna(train_data["Fare"].median())
    
    d["Appeal"] = d["Name"].apply(appeal)
    
    d["Fare"] = d["Fare"].fillna(d["Fare"].median())
    d.loc[d["Fare"] <= 8.7, "Fare"] = 0
    d.loc[(d["Fare"] > 8.7) & (d["Fare"] <= 26), "Fare"] = 1
    d.loc[d["Fare"] >26, "Fare"] = 2
    
    
    d["Age"] = d["Age"].fillna(d["Age"].median())
    d.loc[d["Age"] <= 20.2, "Age"] = 0
    d.loc[(d["Age"] > 20.2) & (d["Age"] < 28), "Age"] = 1
    d.loc[(d["Age"] > 28) & (d["Age"] < 38), "Age"] = 2
    d.loc[d["Age"] > 38, "Age"] = 3
    
    d["Appeal"] = d["Appeal"].replace(["Lady", "Dona"], "Miss")
    d["Appeal"] = d["Appeal"].replace(["Countess", "Capt", "Col", "Don", "Dr", "Major", "Rev", "Sir", "Jonkheer"], "Mr")
    
    d["Appeal"] = d["Appeal"].replace("Mlle", "Miss")
    d["Appeal"] = d["Appeal"].replace("Ms", "Miss")
    d["Appeal"] = d["Appeal"].replace("Mme", "Mrs")

In [27]:
train = train_data.drop(["Name", "Ticket", "Cabin", "SibSp", "Parch", "FamilySize"], axis = 1)
test = test_data.drop(["Name", "Ticket", "Cabin", "SibSp", "Parch", "FamilySize"], axis = 1)

In [28]:
X = deepcopy(train)
y = np.array(X["Survived"])
del X["Survived"]
X = pd.get_dummies(X)
X = np.array(X)

In [29]:
from sklearn.metrics import accuracy_score
kfold = KFold(X.shape[0], n_folds=3, random_state=1)

In [30]:
model = LogisticRegression(n_jobs=-1, solver="lbfgs", penalty="l2")

In [31]:
for train_index, test_index in kfold:
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]
    model.fit(X_train, y_train)
    print(model.score(X_test, y_test))

0.784511784512
0.804713804714
0.808080808081

In [32]:
X = np.array(X)

In [33]:
test = pd.get_dummies(test)
predicts = model.predict(test)

submission = pandas.DataFrame({
    "PassengerId": id_,
    "Survived": predicts
})

submission.to_csv("submission.csv", index=False) #вот это отправляется в каггл